:root {
    --bs-primary: #031c24;
    --bs-secondary: #45bdf5;
    --bs-tertiary: #f0ab35;
}

body {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    height: 100vh;
}

a {
    text-decoration: none;
    color: var(--bs-tertiary);
}

#navbarHeader {
    background-color: #031c24;
    color: #45bdf5;
}

.about-section h2, .contact-section h2 {
    color: #ffffff;
}

.about-desc {
    font-size: 1.1rem;
}

li a {
    color: #f0ab35;
    text-decoration: none;
}

.navbar-brand {
    gap: 0.5rem;
}

.navbar-brand h3 {
    margin-bottom: 0;
}

.comfy-logo {
    border-radius: 50%;
}

.main-body {
    background: linear-gradient(to right, #031c24, #0c3e4f);
}

.main-text h1 {
    color: #45bdf5;
}

.main-text p {
    color: #ffffff;
}

.join-button {
    background-color: var(--bs-secondary);
    color: var(--bs-primary);
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 1.3rem;
}

.join-button:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 2px 2px 3px 1px rgba(69, 189, 245, 0.5);
    background: linear-gradient(to left, #4fbdf0,#45bdf5);
    transition: all 0.5s ease-out;
    color: var(--bs-primary);
}

.card {
    border: 3px solid var(--bs-tertiary)
}

.card img {
    object-fit: cover;
    height: 27.5rem;
}

.pricing-card {
    border: 3px solid var(--bs-secondary)
}

.pricing-header h1 {
    color: var(--bs-secondary);
}

.enterprise-pricing-card {
    border: 3px solid var(--bs-primary)
}

.enterprise-card-header {
    background-color: var(--bs-tertiary)
}

.pricing-button {
    background-color: var(--bs-secondary);
}

.pricing-button:hover {
    background-color: var(--bs-primary);
    color: #ffffff;
}

.compare-price {
    color: var(--bs-primary)
}

.form-container {
    color: #45bdf5;
    border-radius: 1rem;
}

.form-container:hover {
    cursor: pointer;
    transform: scale(1.01);
    transition: all 0.2s ease-out;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
}

#emailHelp {
    color: #ffffff
}

.name {
    gap: 1rem;
}

.first-name, .last-name {
    flex-basis: 50%;
}

.submit-button {
    text-align: center;
}

#submit-form {
    width: 80%;
    background-color: var(--bs-secondary);
    color: var(--bs-primary);
}

#submit-form:hover {
    background-color: var(--bs-tertiary);
    color: #ffffff;
}

emoji-picker {
    position: absolute;
    bottom: 60px;
    right: 20px;
    z-index: 100;
    max-height: 300px;
}

.chat-container {
  width: 470px;
  margin: 2rem auto;
  border: 1px solid #ccc;
  border-radius: 12px;
  padding: 1rem;
}

.messages {
  height: 200px;
  overflow-y: auto;
  border-bottom: 1px solid #eee;
  margin-bottom: 1rem;
}

.input-area {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

textarea {
  flex: 1;
  height: 2.5rem;
  resize: none;
  padding: 0.5rem;
}

#emojiButton {
  background-color: var(--bs-secondary);
}

#sendButton {
  background-color: var(--bs-secondary);
}

.chat-box-container {
    margin-bottom: 12rem;
}

emoji-picker::before {
    content: "";
    position: absolute;
    top: -10%; 
    left: 50%;
    margin-left: -5px;
    border-width: 13px;
    border-style: solid;
    border-color: transparent transparent var(--bs-primary) transparent;
    transform: translateX(-50%);
}

emoji-picker {
    --background: #ffffff;
    --border-color: var(--bs-secondary);
    --button-active-background: var(--bs-tertiary);
    --button-hover-background: var(--bs-secondary);
    position: absolute;
    top: 445px;
    left: 46.3%;
    z-index: 100;
    max-height: 300px;
}

.search input {
    color: var(--bs-primary);
}